.footer-contato{
  margin-top: 50px;
}

.footer-contato li{
  font-size: 1.4rem;
  line-height: 1.5;
}

.footer-contato li:hover{
  color: #4895EF;
}

.footer-contato p{
  text-transform: uppercase;
  line-height: 1.5;
}

.creditos{
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width:920px){
  .creditos{
    padding-bottom: 60px;
  }
}