.galeria-linhas-bg {
 background: linear-gradient(#f8f8f8 70%, #111111 30%);
}

.galeria-linhas {
  padding-top: 80px;
  padding-bottom: 100px;
}

.galeria-linhas h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
}

.galeria-linhas h1::before{
  content: "";
  display: inline-block;
  height: 4px;
  width: 200px;
  background: var(--cor-12);
  position: absolute;
  left: 280px;
  top: 35px;
}

.galeria-linhas h1::after{
  content: "";
  display: inline-block;
  height: 4px;
  width: 200px;
  background: var(--cor-12);
  position: absolute;
  right: 280px;
  top: 35px;
}

.galeria-linhas ul {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin-bottom: 30px;
}

.galeria-linhas li {
  border: 3px solid transparent;
  min-width: 280px;
  flex: 1;
}

.galeria-linhas .linha-cardio li{
  min-width: 500px;
}

.linha-gold li:hover {
  border-color: #ffdd00;
}

.galeria-linhas img {
  border-radius: 4px 4px 0px 0px;
}

.linha-gold h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #ffc300;
}

.linha-luxurious h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #7a0404cc;
}

.linha-luxurious li:hover {
  border-color: #7a0404cc;
}

.linha-infinity h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #E92229;
}

.linha-infinity li:hover {
  border-color: #E92229;
}

.linha-cardio h2{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #4895EF;
}

.linha-cardio li:hover {
  border-color: #4895EF;
}

@media (max-width: 1330px){
  .galeria-linhas h1::before{
    left: 230px;
  }

  .galeria-linhas h1::after{
    right: 230px;
  }
}

@media (max-width: 1170px){
  .galeria-linhas h1::before{
    left: 150px;
  }

  .galeria-linhas h1::after{
    right: 150px;
  }
}

@media (max-width: 1068px){
  .galeria-linhas h1::before{
    display: none;
    
  }

  .galeria-linhas h1::after{
    display: none;
  }
}

@media (max-width: 600px){
  .galeria-linhas {
    padding-top: 40px;
  }

  .galeria-linhas h1 {
    font-size: 3rem;
  }
}
