.galeria-linhas-bg {
  background-color: #f8f8f8;
}

.galeria-linhas {
  padding-top: 80px;
  padding-bottom: 100px;
}

.galeria-linhas h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 40px;
}

.galeria-linhas ul {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin-bottom: 30px;
}

.galeria-linhas li {
  border: 3px solid transparent;
  min-width: 280px;
  flex: 1;
}

.linha-gold li:hover {
  border-color: #ffdd00;
}

.galeria-linhas img {
  border-radius: 4px 4px 0px 0px;
}

.linha-gold h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #ffc300;
}

.linha-luxurious h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #7a0404cc;
}

.linha-luxurious li:hover {
  border-color: #7a0404cc;
}

.linha-infinity h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #E92229;
}

.linha-infinity li:hover {
  border-color: #E92229;
}

@media (max-width: 600px) {
  .galeria-linhas {
    padding-top: 40px;
  }

  .galeria-linhas h1 {
    font-size: 3rem;
  }
}
