.section-equipamentos{
  background-color: #212529;
}

.equipamentos{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr;
}

.equipamentos-titulo{
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #033393e1, #4993f0, #fff);
  color: rgb(11, 11, 100);
}

 .equipamentos .whats img{
  width: 60px;
}

.whats{
  position: absolute;
  right: 30px;
  bottom: 40px;
  position: fixed;
  z-index: 9999;
}

.whats:hover{
  bottom: 45px;
  transition: 200ms;
}

.equipamentos-galeria{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
  margin-left: 33px;
  position: relative;
}

.equipamentos-galeria img{
    border-radius: 10px;
}

.linha-moft::before{
  content: "";
  display: block;
  width: 1096px;
  height: 3px;
  background-color: #3838cf;
  position: absolute;
  top: -50px;
}

.linha-moft::after{
  content: "";
  display: block;
  width: 1096px;
  height: 3px;
  background-color: #3838cf;
  position: absolute;
  bottom: -50px;
}

@media (max-width:1165px){
  .equipamentos{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr;
  }

  .equipamentos-galeria{
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    margin-right: 45px;
    justify-items: center;
  }

  .equipamentos-galeria .imagem-3{
    grid-column: 1/-1;
  }

  .linha-moft::before{
    width: 680px;
  }

  .linha-moft::after{
    width: 680px;
  }

}

@media (max-width:800px){
  .equipamentos .whats{
    display: none;
  }


  .equipamentos-galeria{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }


  .linha-moft::before{
    width: 280px;
  }

  .linha-moft::after{
    width: 280px;
  }
  
}