.header{
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #5f92d179;
}

.header img{
  width: 115px;
}

.header-menu{
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-menu a{
  font-size: 1.125rem;
  color: black;
}



@media (max-width:800px){
  .header{
    gap: 20px;
    flex-direction: column;
  }

  .header-menu{
    gap: 40px 10px;
    padding: 25px 10px;
    justify-content: center;

  }

  .header-menu a{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #033393;
    color: white;
  }
}